/* GLOBAL */
html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

/* RESPONSIVE */
@media screen and (min-width: 600px) {
  #nav {
    position: absolute;
    background: black;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    color: white;
    overflow: auto;
  }
  #main {
    position: absolute;
    left: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
  #input-text {
    margin-left: 10px;
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  #nav {
    position: absolute;
    background: black;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    color: white;
    overflow: auto;
  }
  #main {
    position: absolute;
    left: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
  }
  #input-text {
    margin-left: 15px;
    width: 170px;
  }
  .button {
    margin-left: 30px;
  }
}

/* NAV */
#station-list {
  padding-left: 10px;
}

.station {
  cursor: pointer;
}

/* HEADER */
#header {
  height: 50px;
  padding-left: 15px;
  background: black;
}

#icon {
  padding-top: 5px;
  width: 30px;
  cursor: pointer;
}

.icon-line {
  background: DodgerBlue;
  height: 5px;
  margin-top: 5px;
}

/* MAP */
#map {
  display: block;
  width: 100%;
  height: calc(100% - 50px);
}